.table-wrapper {
    width: 600px;
    height: 350px;
    // border: 1px solid black;

    position: relative;
    display: flex;

    .image {
        border-radius: 1.5em 0 0 1.5em;
        background-color: #e6f4ff;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #c3dcef;
        border-right: 2px solid #c3dcef;
        // border-right: none;

        img {
            border-radius: 50%;
            width: 90%;
            box-shadow: 0px 0px 0px 2px #9fd9f6;
        }
    }

    .card {
        font-size: 14px;;
        border-radius: 0 1.5em 1.5em 0;
        background-color: white;
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #c3dcef;
        border-left: none;
        .rows {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 85%;
            width: 85%;
            .row {
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: 10px;
                border-bottom: 2px solid #b4d6ee;
                .title {
                    color: #204b69;
                    padding: .2em;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 50%;
                    font-weight: bold;
                }

                .info {
                    padding: .2em;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 50%;
                    color: #0d2433;
                }
            }

            .row:last-child {
                border-bottom: none;
            }
        }
    }
}